<% @user = current_user %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="col-md-4">
      <%= link_to "EVENTSBRITE CLONE", root_path, class: "main-title text-white",
          id: "logo" %>
    </div>
    <nav class="col-md-8">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="text-white welcome-user">
            <%= link_to "Welcome! #{@user.name}", user_path(@user), class: "d-inline text-white" %>
          </li>
          <li><%= link_to "Create Event", events_path %></li>
          <li><%= link_to "Events", root_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Register", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
