<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
	  <%= link_to "Eventbrite Clone", root_path, id: "logo" %>
	  <nav>
	    <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% if action_name == "index" %>
          <li><%= link_to "Profile", current_user %></li>
        <% elsif action_name == "show" %>
          <li><%= link_to "Events", events_path %></li>
        <% end %>
        <% else %>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
	    </ul>
	  </nav>
	</div>
</header>